# Virtual environments
.venv/
venv/

# Python cache and bytecode
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Environment files
.env

# Django static files collected
staticfiles/

# IDE/editor folders
.vscode/
.idea/
